*, *:after, *:before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    width: 1600px;
    margin: 0 auto;
}

.wrapper {
    /* width: 100vw; */
    height: 100vh;
    background-image: url(assets/img/bg-image.png);
    background-size: cover;
}

.wrapper__head {
    position: absolute;
}

.wrapper__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 1600px;
    /* width: 100vw; */
}

.wrapper__navigation__item {
    margin-right: 85px;
}

.wrapper__navigation__item:last-of-type {
    margin-right: 0px;
}

.wrapper__navigation__item{
    opacity: 0.8;
}

a {
    color: #FFFFFF;
    text-decoration: none; 
    font-size: 14px;
    line-height: 140%; 
}

.wrapper__navigation__item a:hover, .wrapper__navigation__item-footer a:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
}

.item-logo {
    margin: 25px 15px;
}

.active {
    opacity: 1;
    border-bottom: 1px solid #fff;
}

h1 {
    display: none;
}

.your-life {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    width: 1600px;
    /* width: inherit; */
}

.your-life__text-head {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 5px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.your-life__text-small {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 504px;
    margin-bottom: 30px;
}

button {
    background: #00AFDB;
    width: 184px;
    height: 46px;
    outline: 0;
    border: 0;
}

button:hover {
    background: #009CC2;
    cursor: pointer;
}

.your-life__text-but {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;   
    color: #FFFFFF
}

.socials {
    display: flex;
    position: absolute;
    bottom: 90px;
    justify-content: center;
    width: 1600px;
    /* width: inherit; */
}

.socials img {
    margin-right: 30px;
    cursor: pointer;
}

.socials img:last-of-type {
    margin-right: 0px;
}

.wrapper-main {
    display: flex;
    align-items: center;   
}

.wrapper-block {
    margin: 0px 269px;
}

.wrapper-main__head-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
}

.wrapper-main__text {
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    margin-bottom: 30px;
}

.text-user {
    text-align: center;
}

.wrapper-main__img {
    margin: 120px 0px 140px 248px;
}

.wrapper-main__content-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83px;
    padding-top: 82px;
    margin-left: 1248px;
    /* position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83px;
    margin-top: 82px;
    right: 269px; */
}

.user-head {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #373737;
    margin: 20px 0px 10px 0px;
}

.wrapper-main__user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 139px 0px 269px;
    height: 175px;
    width: 298px;
}

.wrapper-main__slider {
    display: flex;
    max-width: 894px;
    overflow: hidden;
}

.wrapper-main__slider img {
    margin-right: 30px;
}

.user-block {
    position: relative;
    top: 120px;
}

.wrapper-main__content-nav img {
    cursor: pointer;
}

.wrapper-main-user {
    background-color: #F5F6F7;
}

.user-bottom {
    padding-bottom: 140px;
}

.wrapper-main__block-implement {
    margin-top: 260px;
    margin-bottom: 140px;
}

.wrapper-main__text-implement {
    margin-left: 139px;
}

.wrapper-main__sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 597px 220px 597px;
    background: url(./assets/img/pexels-christina-morillo-1181675.svg)
}

.wrapper-main__sign-head {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

form {
    display: flex;
}

input {
    width: 340px;
    height: 46px;
    outline: 0;
    border: 0;
    padding: 13px 24px;
}

.wrapper-main__sign-but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 46px;
}

.wrapper-main__sign-but img {
    cursor: pointer;
}

.wrapper-main__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 560px 180px 560px;
    background-color: #F5F6F7;
}

.wrapper-main__buttons {
    display: flex;
    justify-content: center;
}

.but-download {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 186px;
    margin-right: 30px;    
}

.but-download:last-of-type, .wrapper__navigation__item-footer:last-of-type {
    margin-right: 0px;
}

.but-download-block {
    display: flex;
    justify-content: center;
    width: 59px;
    background: #009CC2;
    height: inherit;
}

.but-download-block img:hover, .wrapper-main__sign-but img:hover {
    width: 21px;
}

.but-download p {
    margin-right: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 185px;
    background: #000000;
    padding: 60px 160px 80px 160px;
}

.wrapper__navigation-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.wrapper__navigation__item-footer {
    margin-right: 20px;
}

.wrapper__navigation-footer-icon {
    margin: 0px 448px 0px 382px;
}

.author {
    color: #818181;
    margin-bottom: 0px;
}

